<div *ngrxLet="user$; let user" class="auth-bar__container">
  <ng-container *ngTemplateOutlet="(user?.isAuthenticated ? isAuthTemplate : noAuthTemplate); context: { $implicit: user }"></ng-container>
</div>

<ng-template #isAuthTemplate let-ctxUser>
  <div class="auth-container">
    <div class="auth-list__item" [routerLinkActive]="'active'" [routerLink]="'/favorite'">Fav</div>
    <div class="auth-list__item" [routerLinkActive]="'active'" [routerLink]="'/cart'">Cart</div>
    <div [matMenuTriggerFor]="menu" class="auth-wrap">
      @if (ctxUser.avatarURL && !isBrokenImgUrl) {
        <img (error)="handleError($event)" #ava
          class="auth-ava" [src]="ctxUser.avatarURL | updUrl">
      } @else {
        <img class="auth-ava" src="/ico/freep.png" alt="pic">
        <!--        <mat-icon class="auth-ava">account_box</mat-icon>-->
      }
      <!--    <mat-icon [url]="ctxUser.avatarURL" class="auth-ava">account_box</mat-icon>-->
      <!--    [url]="ctxUser.avatarURL"-->
      <span class="auth-txt">{{ ctxUser.username }}</span>
    </div>
  </div>
  <mat-menu class="auth-menu" #menu="matMenu">
    <button (click)="navProfile(ctxUser._id)" mat-menu-item>Profile</button>
    <button (click)="navSettings(ctxUser._id)" mat-menu-item>Settings</button>
    <button (click)="signOut()" mat-menu-item>Sign out</button>
  </mat-menu>
</ng-template>

<ng-template #noAuthTemplate>
  <ng-container *ngrxLet="authLoader$; let loader">
    @if (!loader) {
      <div class="auth-wrap" (click)="navigate()">
        <mat-icon class="auth-icon">account_box</mat-icon>
        <span class="auth-txt">Sign-in</span>
      </div>
    } @else {
      <mat-spinner [diameter]="36" class="auth--spinner" ></mat-spinner>
    }
  </ng-container>

</ng-template>
