//.text-item--info {
//  align-self: center;
//}

.text--item--info {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  min-width: 80px;
  max-width: 80px;
  //padding: 4px;

  div {
    overflow: hidden;
    font-size: 11px;
    // line-height: 11px;
  }
}
