@import 'src/app/routes/main/regard/regard-text-add/regard-text-add.scss';

//@use 'src/styles/_variables.scss' as variables;
//
//:host {
//  display: inline-block;
//  height: 100%;
//  width: 100%;
//
//  .btn-submit {
//    width: 100px;
//  }
//
//  .reg--container {
//    height: 100%;
//    //background-color: variables.$board;
//
//    .reg--form__wrapper {
//      display: flex;
//      flex-direction: column;
//      align-items: start;
//      // overflow-y: scroll;
//
//      .reg-arr {
//
//        &-label {
//          margin: 5px;
//        }
//
//        .reg-txt--add-arr {
//          display: flex;
//          margin-bottom: 10px;
//          border-radius: 15px;
//          border: 1px solid variables.$yello;
//          width: max-content;
//          color: variables.$fulvous;
//
//          &:hover {
//            cursor: pointer;
//          }
//
//          p {
//            padding-left: 10px;
//            margin: 0;
//            height: 24px;
//            line-height: 24px;
//            vertical-align: middle;
//          }
//        }
//
//      }
//
//      .reg-txt--img {
//        display: flex;
//        align-items: center;
//        height: 70px;
//        max-width: 89vw;
//
//        button {
//          min-width: 140px;
//        }
//
//        &-preview {
//          max-height: 70px;
//          max-width: 40vw;
//
//        }
//
//        .file-name {
//          display: inline-flex;
//          align-items: center;
//          flex-grow: 1;
//          overflow: hidden;
//        }
//      }
//
//
//    }
//
//    mat-form-field.reg-txt--input {
//      // width: 75%;
//      width: 85vw;
//
//      input::placeholder {
//        font-style: italic;
//        color: #9a9a9a;
//      }
//    }
//
//    .reg-txt--arr-field {
//      display: flex;
//      margin-bottom: 5px;
//
//      .reg-txt--arr-btn {
//        //width: 28px;
//        align-self: center;
//
//        .reg-del-ico {
//          color: variables.$fulvous;
//          //width: 38px;
//          //height: 38px;
//        }
//      }
//    }
//
//    .reg--form {
//      // height: 100%;
//      display: flex;
//      flex-direction: column;
//      justify-content: space-between;
//      align-items: center;
//      //height: fit-content;
//      // max-height: 74vh;
//      overflow-y: auto;
//
//      .reg-header {
//        margin: 0 auto;
//        padding-top: 0;
//        padding-bottom: 10px;
//        width: max-content;
//        color: #e9fbe6;
//        //font-weight: 500;//
//        font-size: 20px;
//      }
//
//      .reg--label {
//        padding: 0 0 0 8px;
//        margin: 0;
//        color: variables.$fulvous;
//        font-size: 16px;
//
//        textarea.reg--text-name {
//          resize: none;
//          color: variables.$fulvous !important;
//          font-size: 24px !important;
//          //min-height: 30px !important;
//        }
//      }
//    }
//  }
//
//  mat-dialog-actions {
//    button {
//      color: variables.$fulvous;
//      border: solid 1px variables.$fulvous;
//    }
//
//    .disable_btn {
//      color: #5a5a5b;
//      border-color: #5a5a5b;
//    }
//  }
//
//  //mat-form-field {
//  //  width: 100%;
//  //}
//}
//
//:host::ng-deep {
//  .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
//    color: #ffffe2 !important;
//    font-size: 16px !important;
//    height: 28px !important;
//  }
//}
