<div class="show-image" (click)="dialogRef.close()">
  <div class="show-image--container">



    <img class="show-image--container__img" alt="pic" [src]="'https://help.apple.com/assets/67EAFA445A9CF2743B0E7315/67EAFA489E4549D0950763E3/en_US/fa55a29ab7a7c668b3b22214e34bee61.png'">
    <p>modal-image works! {{data.content.name}}</p>
  </div>

<!--<button>CLOSE</button>-->
</div>


<!--https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg-->
<!--'https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp'-->
