//@use '@angular/material' as mat;
//
//@include mat.core();
//
//$theme: mat.define-theme((
//  color: (
//    theme-type: dark,
//    primary: mat.$cyan-palette,
//  ),
//  typography: (
//    brand-family: 'Comic Sans',
//    bold-weight: 900
//  ),
//  density: (
//    scale: -5
//  )
//));

@use '../../node_modules/@angular/material/index' as mat;

@include mat.core();

// Define a dark theme
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$yellow-palette,
    tertiary: mat.$blue-palette,
  ),
    typography: (
      brand-family: 'Comic Sans',
      //plain-family: 'Comic Sans',
      bold-weight: 900,
      //medium-weight: 900,
      //regular-weight: 900,
    ),
    density: (
      scale: -2
    )
));

// Define a light theme
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$violet-palette,
  ),
));

html {
  // Apply the dark theme by default
  @include mat.core-theme($dark-theme);
  @include mat.button-theme($dark-theme);
  @include mat.all-component-themes($dark-theme);
  @include mat.strong-focus-indicators-theme($dark-theme);

  //@include mat.button-color($dark-theme, $color-variant: tertiary);


  // Apply the light theme only when the user prefers light themes.
  //@media (prefers-color-scheme: light) {
  //  // Use the `-color` mixins to only apply color styles without reapplying the same
  //  // typography and density styles.
  //  @include mat.core-color($light-theme);
  //  @include mat.button-color($light-theme);
  //}
}
