$fulvous: #5e4f0e;
$board: #151515;
$txt: wheat;
$yello: #cdcd00;
$item: #1b1b2c;
$salad: #52cd00;

:export {
  fulvous: $fulvous;
  board: $board;
  txt: $txt;
  yello: $yello;
  item: $item;
  salad: $salad;
}
