.text-wrapper {
  display: flex;
  background-color: #1b1b2c; // #23233a; //  #1b1b2c;
  height: 56px;
  margin: 2px 2px;
  padding: 4px;
  border-radius: 2px;
  cursor: pointer;

  .text-pronounce {
    display: flex;

    .item-icon {
      margin-top: 14px;
      margin-right: 5px;
      margin-left: 5px;
      //color: #059cff;

      &:hover {
        //cursor: pointer;
        color: red;
      }
    }

    &--audio {
      align-self: center;
      padding: 10px;
    }
  }

  .text-item--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    //box-sizing: content-box;


    .text-item--content {
      font-size: 20px;
      line-height: 20px;
      font-weight: 500;
      color: #aa72ac;
      //align-self: center;
    }

    .text-item--translation {
      overflow: hidden;
      // max-height: 100%;
      // white-space: pre-wrap;

      span {
        display: inline-block;
        white-space: pre-wrap;
      }
    }

  }

  .text-item--info {
    display: flex;
    // align-self: center;
    flex-direction: column;
    justify-content: space-between;
    min-width: 80px;
    max-width: 80px;
    //padding: 4px;

    div {
      overflow: hidden;
      font-size: 11px;
      // line-height: 11px;
    }
  }
}
