:host {
  display: block;
  max-height: 85vh;
  padding: 0;

  .close-section {
    color: #ffffff;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 0 0 20px 0;

    .text {
      padding-left: 50px;
    }
  }

  .nav__icon {
    padding: 10px 20px 10px 10px;
    color: #ff0000;
    width: 36px;
    height: 36px;
    font-size: 36px;

    &:hover {
      cursor: pointer;
    }
  }

  @media screen and (max-width: 700px) {
    max-height: 89vh;
  }
}
