:host {
  display: block;
  //border-radius: 2px!important;
  padding: 8px 16px;
}

.close-section {
  color: #ffffff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.nav__icon {
  //margin-left: 15px;
  padding: 10px;
  color: #ff0000;
  width: 36px;
  height: 36px;
  font-size: 36px;
  //height: 28px;
}
