<div [class]="isBurger ? 'nav-list_burger' : 'nav-list'">
<div [attr.mat-dialog-close]="isBurger ? '' : null" [class]="isBurger ? 'nav-list__wrapper_burger' : 'nav-list__wrapper'">
  <div [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="'active'" [routerLink]="'/'">Stock</div>
  <div [routerLinkActive]="'active'" [routerLink]="'/gen'">Gen</div>
  <div [routerLinkActive]="'active'" [routerLink]="'/screenshots'">Screenshots</div>
  <div [routerLinkActive]="'active'" [routerLink]="'/survey'">Survey</div>
  <div [routerLinkActive]="'active'" [routerLink]="'/xxx'">XXX</div>
  <div [routerLinkActive]="'active'" [routerLink]="'/xxx'">XXX</div>
  <div [routerLinkActive]="'active'" [routerLink]="'/xxx'">XXX</div>
</div>
</div>
