<div class="nav-list">
<div  class="nav-list__wrapper">
  <div class="nav-list__item" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="'active'" [routerLink]="'/'">Stock</div>
  <div class="nav-list__item" [routerLinkActive]="'active'" [routerLink]="'/gen'">Gen</div>
  <div class="nav-list__item" [routerLinkActive]="'active'" [routerLink]="'/screenshots'">Screenshots</div>
  <div class="nav-list__item" [routerLinkActive]="'active'" [routerLink]="'/survey'">Survey</div>
  <div class="nav-list__item" [routerLinkActive]="'active'" [routerLink]="'/tester'">XXX</div>
  <div class="nav-list__item" [routerLinkActive]="'active'" [routerLink]="'/community'">XXX</div>
  <div class="nav-list__item" [routerLinkActive]="'active'" [routerLink]="'/posts'">XXX</div>
</div>
</div>
