:host {
  flex: 1 0 auto;
}

.sign-up-container {
  width: max-content;
  margin: 0 auto;
  .sign-up-title {
    text-align: center;
  }

  .sign-up-form {
    min-width: 150px;
    max-width: 400px;
    width: 100%;

    ::ng-deep {
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
      .mat-form-field-infix {
        width: 380px;
      }
    }
  }

  .sign-up-submit {
    width: max-content;
    margin: 0 auto;
  }

  .sign-up-link {
    display: block;
    margin: 10px auto;
  }
}
