<div class="items">
  <div class="item--wrapper">
    <div (click)="handler($event)" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon class="item-icon">more_vert</mat-icon>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Edit name</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>delete_forever</mat-icon>
        <span>Delete</span>
      </button>
      <button mat-menu-item>
        <mat-icon>info</mat-icon>
        <span>Info</span>
      </button>
    </mat-menu>
    <div class="item--content">
      <div class="item--name">{{ data().name }}</div>
      <div class="item--interact">
        <div class="item--info">
          <p>created: 12/12/2024</p>
          <p>amount: 57</p>
        </div>
      </div>
    </div>

  </div>
</div>
