/* You can add global styles to this file, and also import other style files */
@use 'styles/variables' as v;
@import "styles/theme";
@import "styles/vendor";

html, body {
  height: 100%;
  background-color: v.$board;
  color: v.$txt;
  //color: v.$sky;

}
body {
  margin: 0;
  font-family: Candara, sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 1px;
}

//.custom-container {
//  .mdc-dialog__surface {
//    justify-content: end;
//    //border-radius: 20px !important;
//  }
//}

.custom-container .mdc-dialog__surface, .mat-mdc-dialog-surface  {
    justify-content: end;
    //border-radius: 20px !important;

}

.custom-container .mat-mdc-form-field-infix {
  padding: 12px 0!important;
}

