/* You can add global styles to this file, and also import other style files */
@use 'styles/variables' as v;
@import "styles/theme";
@import "styles/vendor";

html, body {
  height: 100%;
  background-color: v.$board;
  color: v.$txt;
  //color: v.$sky;

}
body {
  margin: 0;
  font-family: Candara, sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

