<div class="control-container">
  @for (state of controlState; let idx = $index; track state.handler) {
    <div>
      <mat-icon
        #btn
        (click)="this[state.handler]()"
        class="nav__icon"
        [class.inactive]="state.inactive"
        [class.disabled]="state.data?.disabled"
        >{{ state.icon }}</mat-icon>
    </div>
  }
  <!--  <div>-->
  <!--    <mat-icon (click)="this[controlState[0].handler]()" class="nav__icon">home</mat-icon>-->
  <!--  </div>-->
  <!--  <div>-->
  <!--    <mat-icon class="nav__icon" (click)="this[controlState[1].handler]()">code</mat-icon>-->
  <!--  </div>-->
  <!--  <div>-->
  <!--    <mat-icon class="nav__icon" (click)="this[controlState[2].handler]()">apps</mat-icon>-->
  <!--  </div>-->
  <!--  <div>-->
  <!--    <mat-icon class="nav__icon" (click)="this[controlState[3].handler]()">code</mat-icon>-->
  <!--  </div>-->
  <!--  <div>-->
  <!--    <mat-icon (click)="this[controlState[4].handler]()" class="nav__icon">arrow_back</mat-icon>-->
  <!--  </div>-->
</div>
