.control-container {
  div {
    //width: 28px;


  }
  display: flex;
  justify-content: space-between;
  padding: 10px;

  .nav__icon {
    &:hover {
      cursor: pointer;
    }

    font-size: 26px;
      //height: 28px;
  }

  .inactive {
    color: red;
  }

  .disabled {
    color: #444444;
  }
}
