.logo-wrapper {
  display: flex;
  align-items: center;
  height: 100%;

  :hover {
    cursor: pointer;
  }

  .logo-img {
    width: 38px;
    margin: 4px;

    //&:hover {
    //  cursor: pointer;
    //}
  }
}
