<div class="accordion-wrapper">
<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field appearance="outline">
    <mat-label>First name</mat-label>
    <input [formControlName]="'firstName'" matInput>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Last name</mat-label>
    <input [formControlName]="'lastName'" matInput>
  </mat-form-field>

  <mat-form-field  appearance="outline">
    <mat-label>Date Created</mat-label>
    <input [formControlName]="'dateCreated'" matInput>
  </mat-form-field >

  <mat-form-field appearance="outline">
    <mat-label>Day Of Birth</mat-label>
    <input [formControlName]="'dayOfBirth'" [matDatepicker]="dp3" matInput>
    <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
    <mat-datepicker #dp3 ></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Country</mat-label>
    <input [formControlName]="'country'" matInput>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>City</mat-label>
    <input [formControlName]="'city'" matInput>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>User name</mat-label>
    <input [formControlName]="'username'" matInput>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Occupation</mat-label>
    <input [formControlName]="'occupation'" matInput>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Hobby</mat-label>
    <input [formControlName]="'hobby'" matInput>
  </mat-form-field>

  <!--        <mat-form-field appearance="outline">-->
  <!--          <mat-label>Avatar</mat-label>-->
  <!--          <input [formControlName]="'avatarURL'" type="file">-->
  <!--        </mat-form-field>-->
  <br>
  <div class="img-loader">
    <button type="button" mat-raised-button (click)="fileInput.click()">Choose Avatar</button>
    <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">
    <img #imgPreview src="" alt="" class="img-preview">
    <span class="file-name">{{ fileInput && fileInput.files && fileInput.files[0]?.name }}</span>
  </div>
  <br>

  <div class="sign-in-submit">
    <button type="reset" (click)="reset()" mat-raised-button color="primary">Reset</button>
    <span> | </span>
    <button [disabled]="form.invalid || form.pristine" type="submit" mat-raised-button color="primary">Submit</button>
  </div>
</form>
</div>
